# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translated Files
dzn-files/
smt2-files/
fzn-files/

# Add example files
!dzn-files/A001.dzn
!fzn-files/or-tools/Mz1-noAbs/A001-dzn.fzn
!fzn-files/or-tools/Mz2-noAbs/A001-dzn.fzn
!fzn-files/z3/Mz1-noAbs/A001-dzn.fzn
!fzn-files/z3/Mz2-noAbs/A001-dzn.fzn
!smt2-files/z3/Mz1-noAbs/A001-dzn-fzn.smt2
!smt2-files/z3/Mz1-noAbs/v3/A001-dzn-fzn_v3.smt2
!smt2-files/z3/Mz2-noAbs/A001-dzn-fzn.smt2
!smt2-files/z3/Mz2-noAbs/v3/A001-dzn-fzn_v3.smt2
